body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4d4d4;
}

header {
    background-color: #333333e5;
    color: #fff;
    padding: 20px;
    height: 35px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    background-color: #444444b8;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

.container {
    margin: 20px; /* Marge de 5px */
    height: 550px; /* Hauteur de 550px */
    display: flex;
    justify-content: center; /* Centrer les cartes horizontalement */
    align-items: flex-start; /* Aligner les cartes en haut */
    flex-wrap: wrap; /* Permettre le passage à la ligne des cartes */
    background-color: #cecece;
}


.login {
    border-radius: 5px;
    height: 5px;
    float:right;
    font-size:15px;
    color:#eee;
    width:130px;
    padding:10px;
    min-height:50px;
    text-align:center;
    line-height:30px;
    font-weight:400;

}

.theme {
    Height: 20px;
    min-width: 260px;
    max-width: 960px;
    background-color: #cecece;

}

/* cards */

.left-card,
.right-card,
.main-card {
    flex-basis: calc((100% - 26px) / 3); /* Répartition en 3 colonnes, avec des marges de 3px */
    height: 200px; /* Hauteur réduite pour les petites cartes */
    margin: 0 0 5px 0; /* Marge de 5px en bas */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-card {
    flex-grow: 1; /* La carte principale prend tout l'espace restant */
    margin: 3px 0; /* Marge de 3px en haut et en bas */
    height: 291px; /* Hauteur A4 réduite pour la grande carte */
    background-color: #fff;
}
