body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8ffff5e;
}

header {
    background-color: #78becd;
    color: #ececec;
    padding: 20px;
    height: 35px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    background-color: #6bb9cb;
    color: #ececec;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

.container {
    margin: 1223px; /* Marge de 5px */
    height: 670px; 
    margin-left: 10px;;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; /* Centrer les cartes horizontalement */
    align-items: flex-start; /* Aligner les cartes en haut */
    flex-wrap: wrap; /* Permettre le passage à la ligne des cartes */
    background-color: #e8fbff;
}


.login {
 margin: 5px;
 height: 51px;
 width: 51px;
}

.theme {
    Height: 15px;
    width: 1263px;
    background-color: #78becd;

}

/* cards */

.left-card-bottom{
    height: 320px; 
    width: 200px;
    margin-top: 5px; 
    margin-bottom:3px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: relative;
    left: -210px;
    right: 210px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-card-bottom {
    
    height: 320px; 
    width: 200px;
    margin-top: 5px; 
    margin-bottom:3px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: relative;
    right: -210px;
    left: 210px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.card-left,
.card-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px; /* Marge horizontale entre les cartes */

}
.left-card-top{
    height: 320px; 
    width: 200px;
    margin-top: 5px; 
    margin-bottom:3px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: relative;
    left: -210px;
    right: 210px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-card-top {
    
    height: 320px; 
    width: 200px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: -210px;
    left: 210px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-card {
    
    height: 200px;
    width: 360px;
    margin-left: 2px; /* Marge de 5px en bas */
    margin-right: 2px;
    margin-top: 2.5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-card {
    flex-grow: 1; /* La carte principale prend tout l'espace restant */
    margin: 3px 0; /* Marge de 3px en haut et en bas */
    height: 291px; /* Hauteur A4 réduite pour la grande carte */
    background-color: #fff;
}
